.md-toolbar-tools-bottom div {
  font-size: em(14);

  &:last-child {
    font-size: em(12);
    opacity: 0.8;
  }
}

md-sidenav {
  .md-button {
    margin: 0;
    padding: 10px 0px;
    width: 100%;
  }
}

.md-sidenav-left md-toolbar {
  background-color: $sidenav-background-color;
}
