.md-toolbar-tools-bottom {
  text-align: right;
  margin-right: 10px;
  font-size: em(16);

  div:last-child {
    font-size: em(12);
    opacity: 0.8;
  }
}

md-sidenav {
  .md-button {
    margin: 0;
    padding: 10px 0px;
    width: 100%;
  }
}

.md-sidenav-left md-toolbar {
  background-color: $sidenav-background-color;
}
